/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2015, 12:00:10 PM
    Author     : nanank
*/

.action {
    margin: 10px 0px;
    visibility: hidden;
}

.dataTables_filter > label > input {
    width: 200px;
}

.quick-form {
    display: none;
}