/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Feb 16, 15:25:21
    Author     : nanank
*/

.AldiraChena {
    padding: 200px;
    border: 10px dashed #3C8DBC;
    background-color: white;
}

.AldiraChena h3 {
    color: #3C8DBC;
}

.col-center {
    margin: 0 auto;
    float: none;
}
