/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Mar 16, 12:22:39
    Author     : nanank
*/

.gnUpload {
    padding: 150px 0px;
    border: 10px dashed #3C8DBC;
    background-color: white;
}

.gnUpload h3, .gnUpload p {
    text-align: center;
    color: #3C8DBC;
}

/*.gnUpload:hover {
    background-color: lightblue;
}*/